.showcase {
    max-width: 100%;
    .container {
      background-color: rgb(35, 156, 90);
      .banner {
        margin: 0 auto;
        padding: 10px;
        img {
          width: 100%;
          max-width: 100%;
          height: 360px;
          object-fit: cover;
        }
      }
      h1 {
        text-align: center;
        text-transform: uppercase;
        color: #55148A;
      }
      p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
      }
      
    }
  }
  
  // media query
  
  @media screen and (min-width: 580px) {
    .showcase {
      .container {
        .content__wrapper {
          // display: flex;
          // justify-items: center;
          // align-items: center;
          // top: 0;
          // left: 0;
          // max-width: 50%;
          .content {
            font-size: 1.3em;
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 760px) {
    .showcase {
      .container {
        .banner {
          display: flex;
          max-width: 100%;
          .banner__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            padding: 0px 20px;
            width: 100%;
            h1 {
              font-size: 2.5rem;
            }
            p {
              font-size: 1.4rem;
            }
          }
          img {
            height: 620px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 992px) {
    .showcase {
      .container {
        .banner {
          display: flex;
          max-width: 100%;
          .banner__content {
            flex: 0.3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            padding: 0px 40px;
            width: 100%;
            h1 {
              font-size: 3rem;
            }
            p {
              font-size: 1.5rem;
            }
          }
          img {
            flex: 0.7;
            height: 620px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 1200px) {
    .showcase {
      .container {
        .banner {
          display: flex;
          max-width: 100%;
s
          img {
            flex: 0.8;
            height: 660px;
          }
        }
      }
    }
  }